Connected Services/Producto_Service/productos_Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetProductos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parametros" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Productos_VO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_producto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Categoria_Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Precio" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Marca" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cantidad" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Caducidad" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProductos_VO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Productos_VO" nillable="true" type="tns:Productos_VO" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProductosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductosResult" type="tns:ArrayOfProductos_VO" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetProductosSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductos" />
  </wsdl:message>
  <wsdl:message name="GetProductosSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductosResponse" />
  </wsdl:message>
  <wsdl:portType name="productos_ServicesSoap">
    <wsdl:operation name="GetProductos">
      <wsdl:input message="tns:GetProductosSoapIn" />
      <wsdl:output message="tns:GetProductosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="productos_ServicesSoap" type="tns:productos_ServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductos">
      <soap:operation soapAction="http://tempuri.org/GetProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="productos_ServicesSoap12" type="tns:productos_ServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductos">
      <soap12:operation soapAction="http://tempuri.org/GetProductos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="productos_Services">
    <wsdl:port name="productos_ServicesSoap" binding="tns:productos_ServicesSoap">
      <soap:address location="http://localhost:62113/WS/productos_Services.asmx" />
    </wsdl:port>
    <wsdl:port name="productos_ServicesSoap12" binding="tns:productos_ServicesSoap12">
      <soap12:address location="http://localhost:62113/WS/productos_Services.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>